services:
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    restart: always
  ui:
    build:
      context: ./ui
    ports:
      - "8081:80"
    restart: always
  redis:
    image: redis:7.4-alpine
    restart: always
    command: redis-server --save "" --appendonly no
